

@font-face {
  font-family: font;
  src: url(FontsFree-Net-Eirian.woff);
}
html{

  scroll-behavior: smooth;
  
  }
body {
  overflow-x: hidden;
  background-color: black;
  position: relative;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
}

.edit1 {
  font-size: 10vw;
  text-align: center;
}

.impo1 {
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
  position: relative;
  transform-style: preserve-3d;
}

.impo2 {
  background-color: rgb(0, 0, 0);
  padding-top: 100px;
}

.responsive {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  position: absolute;
  align-items: center;
    margin-left: 25%;
}

.air1 {
  position: relative;
  text-align: center;
  top: 30%;
  color: aliceblue;
  font-family: "Akshar", sans-serif;
  font-size: 12vw;
}

ul.air4 {
  position: relative;
  top: 35%;
  text-align: center;
}

li.air2 {
  display: inline-flex;
  font-size: 20px;
  padding: 10px;
  font-family: "Figtree", sans-serif;
  font-weight: bold;
}

a.air3 {
  position: relative;
  text-decoration: none;
  color: aliceblue;
}

a.air3 {
  position: relative;
}
a.air3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
a.air3:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media screen and (max-width: 1000px) {
  .air1 {
    top: 25%;
  }
  .impo1 {
    height: 60vh;
    background-color: black;
    box-sizing: border-box;
    position: relative;
  }
  ul.air4 {
    position: relative;
    top: 27%;
    margin-left: auto;
    margin-right: 40px;
  }
  li.air2 {
    font-size: 10px;
    padding: 2px;
    align-items: center;
  }
  .responsive {
    margin-top: 30px;
    height: 30Vh;
  }
  
}
@media screen and (max-width: 400px) {
  .impo1 {
    height: 30vh;
    background-color: black;
    box-sizing: border-box;
    position: relative;
  }
  li.air2 {
    display: block;
    font-size: 10px;
    padding: 4px;
    top:40% ;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .impo1 {
    height: 30vh;
  }
}
@media screen and (max-width: 600px) {
  .air1 {
    top: 25%;
  }
  .responsive {
    margin-top: 30px;
    height: 100%;
    margin-left: 25%;
  }
}
img.responsive2 {
  width: 60%;
  border-radius: 50%;
  margin-left: 20%;
}

p.head1 {
  font-size: 1.2em;
  color: #FFFFFF;
  font-family: 'Figtree', sans-serif;
  text-align: justify;
}
span.air6{
  color: #EBD4CB;
  font-family: 'League Gothic', sans-serif;
  font-size: 2em;
}
a.air7{
 color: chartreuse;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 600px) {
  img.responsive2 {
    width: 40%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  span.air6{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
  }
  p.head1 {
    font-size: 1.1em;
    text-align:justify;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.impo3{
  height: 100vh;
  top: 70px;
  background-color: black;
  box-sizing: border-box;
  position: relative;
  transform-style: preserve-3d;
}
.air9{
  position: relative;
  text-align: center;
  top: 40%;
  color: aliceblue;
  font-family: "Akshar", sans-serif;
  font-size: 12vw;
}
@media screen and (max-width: 1000px) {
  .air9{
    top: 20%;
  }
  .impo3{
    height:30vh;
  }
  .air9{
    top: 55%;
  }
}
.impo4{
  height: 120vh;
  top: 150px;
  background-color: black;
  box-sizing: border-box;
  position: relative;
}
@media screen and (max-width:400px) {
  .impo4{
    height:180vh;
  }
}
@media screen and (max-width:980px) {
  .impo4{
    height: 10vh;
  }
}
video.air11{
  height: auto;
  width: 100%;
}
.air12{
margin-top:100px ;
}
.hello{
  margin-top: 10%;
}
span.air12{
  font-size: 1.5em;
  font-family: 'Patua One', cursive; 
  color: #DA9F93;
}

/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Unbounded', cursive;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
p.head2{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: justify;
  color: #f6f5f6;

}
@media screen and (max-width: 800px) {
  .button-34{
    text-align: center;

    span.air12{
      text-align: center;
    }
  }
  video.air11{
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  p.head2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    color: #f6f5f6;
    padding-left: 6px;
    padding-right: 6px;
  }
  .button-34{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.impo5{
  height: 100vh;
  top: 50px;
  background-color: black;
  box-sizing: border-box;
  position: relative;
  transform-style: preserve-3d;
}
.air13{
  position: relative;
  text-align: center;
  top: 40%;
  color: aliceblue;
  font-family: "Akshar", sans-serif;
  font-size: 12vw;
}
.icons{
  margin-bottom:  10px;
}

@media screen and (max-width:1300px) {
  .impo4{
    height: 140vh;
  }
  .impo5{
    height: 46vh;
  }
  .air13{
    top: 20%;
  }
  .icons{
    margin-bottom:  10px;
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .impo4{
    height: 163vh;
  }
}
.responsive1{
  width: 50%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  position: absolute;
    margin-left: 25%;
}
@media screen and (max-width: 600px) {
  .responsive1 {
    width:100% ;
    height: 40%;
  }
}
@media screen and (max-width: 1000px) {
  .responsive1 {
    width:100% ;
    margin-left: 0%;
    height: 60%;
  }
}
.impo6{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 980px) {
  .impo6{
    height: 40vh;
  }
}
.wrapper
{
  position: relative;
  max-width: 960px;
  width: 90%;
  height: 56.25vw;
  max-height: 540px;
  box-shadow: 0 0 15px rgba(0,0,0,.35);
}

.slider-wrap
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider
{                                                       
  position: relative;
  left: 0;
  height: 100%;
  width: 500%;
  transition: 300ms ease-in-out;
}

.slide
{
  float: left;
  height: 100%;
  width: 20%;
  background-size: cover;
}

/* Slide 1 */
.slide:nth-child(1) {
  background-image: url("/images/techadroithackathon.jpg");
}

/* Slide 2 */
.slide:nth-child(2) {
  background-image: url("/images/webcomeptition.png");
}

/* Slide 3 */
.slide:nth-child(3) {
  background-image: url(https://unsplash.it/962/540);
}

/* Slide 4 */
.slide:nth-child(4) {
  background-image: url(https://unsplash.it/963/540);
}

/* Slide 5 */
.slide:nth-child(5) {
  background-image: url(https://unsplash.it/964/540);
}

.btn
{
  position: absolute;
  top: 250px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  font-weight: 700;
  color: #FFF;
  background: #2C2C2C;
  cursor: pointer;
  user-select: none;
  transition: background 150ms ease-in-out;
}

.btn:first-child { left: -.5em;  }
.btn:last-child  { right: -.5em; }

.btn:hover  { background: #131313; }
.btn:active
{
  transform: scale(.97);
  background: #000;
}

@media(max-width: 950px)
{
  .slide {background-position: center;}
  
  .btn { top: -.5em; }
  .btn:first-child { left: calc(50% - 1em); }
  .btn:last-child { left: calc(50% + 1em); }
}
.impo7{
  height: 20vh;
}

#h1footer{
  margin-top: 5px;
  color: #891fb7;
  text-align: center;
  font-family: 'League Gothic', sans-serif;
  font-size: 3em;
}

@media screen and (max-width: 1000px) {
  .impo7{
    height: 10vh;
  }
}

#h2footer{
  font-size: 0.7em;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#h4footer{
  margin-top: 5px;
  text-align: center;
  color: #4de312;
  font-family: 'League Gothic', sans-serif;
  font-size: 2em;
}
#h3footer{
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.socials{
  text-align: center;
}
#socials1{
  display: inline-block;
  align-items: center;
}